:root {
    --primary-text-color: #212121;
    --primary-white-color:  #F5F5F5;
    --title-text-color:#757575;
    --actent-color: #2196F3;
    --icon-color:#AFB1B8;
    --bg-color-body:#ffffff;
    --bg-color-order:#2F303A;
}


body {
    background-color:var(--bg-color-body);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0px;
}
 


ul {
    list-style: none;
    padding: 0;
    margin:0 ;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* header */

.header{
    border-bottom: 1px solid #ececec;
    padding: 24px 0;
}

.header-icon{
    margin-right: 10px;
    fill:currentColor;
}

/* contaire */

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.project-icon {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 34px;
}

.project-titles{

width: calc((100% - 60px) / 3);
border: 1px solid #EEEEEE;
}

.project-titles:hover ,
.project-titles:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}


.project-title{
    color: var(--primary-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    }
    
    .project-list{
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.88;
    margin-top: 4px;
    }

 .box-title{
  padding:20px 24px;
 }




.main-nav {
    display: flex;
    align-items: center ;
    margin-right: auto;
}


/* site-nav */

.contact-link , 
.nav-link{
    display: block;


    color:  var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none;
}


.contact-link {
    color: var(--title-text-color);
    align-items: center;
    display: flex;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--actent-color);
}

.nav-contact {
    display: flex;
    gap: 50px;
    list-style: none;
    align-items: center;
}

 .nav-link:hover,
 .nav-link:focus{
color: var(--actent-color);
}

.nav-link.current{
    color: var(--actent-color);
}

.nav-list{
    display: flex;
    margin-left: 93px;
}

.nav-list .item:not(:last-child) {
    margin-right: 50px;
}


/* Section */

.section{
    padding-bottom: 94px;
    padding-top: 94px;
     
}



.list-title{
    margin-right: 30px;
    width: 270px;
}

.list-title:last-child {
    margin-right: 0;
}
    
.title {
    list-style: none;
    display: flex;
}

.section-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0;
}

    .bg-icon-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;  
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--primary-white-color);

    }


.about{
    padding-bottom: 0;
}

.about-text{
color: var(--title-text-color);
font-size: 14px;
line-height: 1.72;

}
.about-title{
    margin-bottom: 10px;
font-size: 14px;
line-height: 1.14; 
text-transform: uppercase;
}

.work-list {
    color: var(--primary-text-color);
    list-style: none;
    display: flex;
    align-items: center;
}

.works-item:not(:last-child) {
    margin-right: 30px;
}

.team{
    width: 270px;
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list{
    display: flex;
    align-items: center;
}

.list-icon{
    width: 44px;
    height: 44px;
}


.team:not(:last-child) {
    margin-right: 30px;
}

.team-name{
margin-bottom: 10px;

color: var(--primary-text-color);
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
}

.team-position{

color: var(--title-text-color);
margin-bottom: 16px;
font-size: 16px;
line-height: 1.18;
text-align: center;

}

.team-work{
    background-color: var(--primary-white-color);
}

.team-box{
    padding: 30px 32px;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}


/* Hero */
.hero-title {
width: 696px;
margin: 0 auto;
margin-bottom: 30px;

color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    text-align: center;
    text-transform: uppercase;
}

.hero{
max-width: 1600px;
height: 600px;
margin-left: auto;
margin-right: auto;
padding: 200px 0;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
text-align: center;
background-color: var(--title-text-color);

background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
url('../img/br-studio.jpg');  
}

/* Button */
.button{
    
border-radius: 4px;

padding: 10px 32px;

    color:var(--primary-white-color); 
    background-color: var(--actent-color);
    cursor: pointer;
    border: 4px solid transparent;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    
    
}

.button-portfolio{
    padding: 6px 22px;
    color:#000000;
    background-color: var(--primary-white-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    border-radius: 4px;
    text-align: center;
    border: 4px solid transparent;
    cursor: pointer;
}

.button-portfolio:hover,
.button-portfolio:focus {
    color: var(--primary-white-color);
    background-color: var(--actent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

}

.box-button{
    display: flex;
    justify-content:center;
    gap:8px;
}

/* Logo */

.logo , 
.logo-pr {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
text-decoration: none;
}

.logo {
    color: var(--primary-white-color);
}

.information{
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.logo-pr {
color: var(--primary-text-color);
list-style: none;
}

.logo-head , 
.logo-footer {
 color: var(--actent-color);
 text-decoration: none;
}

/* adress */

.adress{
    margin-top: 20px;
}

.order{
    background-color:var(--bg-color-order);
    padding:60px 0;
}

.info , 
.mail {
font-style: normal;
line-height: 1.71;
}

.mail {
    color: var(--primary-white-color);
    text-decoration: none;
}

/* info */

.info {
color: rgba(255, 255, 255, 0.6);
 text-decoration: none;
}

.info:hover,
.info:focus{
    color: var(--actent-color);
}

/* icon team */

.icon-team{
    fill: currentColor;
    width: 20px;
    height: 20px;
}

.link-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color:var(--icon-color);
}


.link-icon:focus,
.link-icon:hover{
color:var(--primary-white-color);
background:var(--actent-color);
}



/* Reg-custom */

.reg-custom {
    display: flex;
    justify-content: center;
    
}

.compagny {
    width: 170px;
    height: 92px;
   
    
    
}

.compagny:not(:last-child) {
    margin-right: 30px;
}

.icon-compagny{
fill: currentColor;
}

.link-compagny{
    align-items: center;
    display:flex;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px; 
    width: 100%;
    height: 100%;
color: var(--icon-color);
}

.box-icon-iteam {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.link-compagny:hover,
.link-compagny:focus{
    border-color:var(--actent-color);
    color: var(--actent-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

/* Social */
.social {
    margin-bottom: 20px;
    color:var(--primary-white-color);
}

.box-footer{
    display: flex;
}

.box-icon-foot {
    margin-left: 70px;
}

.icon-list{
    width: 44px;
    height: 44px;
}

.icon-social{
color: var(--primary-white-color);
background: rgba(255, 255, 255, 0.1);
}
